.main-container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
}

.controls {
  margin-bottom: 45px;
}

.pane {
  display: none;
  margin-bottom: 30px;
}

.pane--active {
  display: block;
}

.controls__item {
  padding: 10px 15px 10px 15px;
  background-color: #e9322e;
  color: #fff;
  border-radius: 5px;

  &:hover {
    background-color: #ab2926;
  }
}

.controls__item--active {
  background-color: #ab2926;
}

.pane-item {
  padding: 10px;
  border-radius: 5px;
  background-color: #4f4f51;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.pane-title {
  margin-bottom: 10px;
}

.pane-subtitle {
  font-size: 16px;
  color: #949793;
  margin-bottom: 5px;
}

.pane-rest {
  font-size: 16px;
  color: #ff5733;
  margin-bottom: 20px;
}

.pane-item__wrapper {
  display: flex;
  align-items: center;
}

.pane-item__text {
  width: 90%;
}

.pane-item__sets,
.pane-item__reps {
  width: 5%;
}

.pane-accordion {
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;

  transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pane-item--active .pane-accordion {
  height: 350px;
  padding: 15px;
}
